.markdown-body {
  all: initial;
  font-family: inherit;
  color: white;
  h1 {
    font-size: 2em;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: white 2px solid;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.87em;
  }
  h6 {
    font-size: 0.61em;
  }
  table,
  pre,
  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-block: 16px;
  }
  table {
    border-collapse: collapse;
  }
  th,
  td {
    border: white;
    border-width: 1px;
    border-style: double;
    padding: 8px;
  }
  th,
  td,
  tr {
    @apply bg-gray-700;
  }
  pre,
  code {
    @apply bg-gray-800;
    border-radius: 4px;
    padding: 4px;
  }

  pre {
    line-height: 32px;
    padding: 16px;
  }
  ul,
  ol {
    margin: 8px;
    list-style-position: inside;
    ul,
    ol {
      padding-left: 16px;
    }
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin: 8px;
  }
}
